body{font-family: 'Open Sans', sans-serif !important; font-size:14px;font-weight:400;}
.blue-gradient{
background: #0f3b85; 
background: -moz-linear-gradient(17deg, #3670d1 34%, #0f3b85 82%); 
background: -webkit-linear-gradient(17deg, #3670d1 34%, #0f3b85 82%);
background: linear-gradient(17deg, #3670d1 34%, #0f3b85 82%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3670d1', endColorstr='#0f3b85',GradientType=0 ); }
.borderRad-half{overflow:hidden;}
.borderRad-half:after{content:'';background: #0f3b85; position: absolute;
    width: 100%;border-radius: 0% 33% 33% 0% / 0% 50% 50% 0%; -webkit-border-radius: 0% 33% 33% 0% / 0% 50% 50% 0%;
    height: 120vh;    z-index: -1;
	background: #0f3b85; 
background: -moz-linear-gradient(17deg, #3670d1 34%, #0f3b85 82%); 
background: -webkit-linear-gradient(17deg, #3670d1 34%, #0f3b85 82%);
background: linear-gradient(17deg, #3670d1 34%, #0f3b85 82%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3670d1', endColorstr='#0f3b85',GradientType=0 );}
.full-height{height:100vh}
.leftContent{max-width:390px;position:relative;}
.leftContent h3{font-size:30px; color:#fff; font-weight:700;}
.leftContent p{font-size:20px; color:#fff;}
.rightContent{max-width:470px; width:100%;}
.rightContent .form-group{margin-bottom:0.8em}
.rightContent h1{font-size:34px; text-transform:capitalize;font-weight:700; color:#383838;margin-bottom:0px;}
.rightContent p{color:#797979;}
.rightContent .form-control{height:40px; background:#f0f0f3; border-color:#d0d0d0; border-radius:30px;}
.rightContent label	{color: #545454; font-size: 14px;font-weight:500;width:100%;}
.login-link a{font-size: 14px;color: #ed3338;display: inline-block;}
.login-link a:hover{text-decoration:none;}
.loginBtn{border:3px solid #fff; box-shadow:-3.464px 2px 12px rgba(54,112,209,0.5); font-size:16px; font-weight:600; color:#fff; padding:7px 40px; border-radius:50px;}
.loginBtn:focus{outline:none;}
@media(max-width:767px){
	.borderRad-half.full-height{height:auto;background: #0f3b85; padding:40px 20px;margin-bottom:40px;
background: -moz-linear-gradient(17deg, #3670d1 34%, #0f3b85 82%); 
background: -webkit-linear-gradient(17deg, #3670d1 34%, #0f3b85 82%);
background: linear-gradient(17deg, #3670d1 34%, #0f3b85 82%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3670d1', endColorstr='#0f3b85',GradientType=0 );}
	.borderRad-half.full-height:after{display:none;}
	.col-md-6.full-height{height:auto;}
	
}
