{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lims Login</title>

    <!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" type="">
<link href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css'%}" rel="stylesheet">
<link src="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap" rel="stylesheet">
<link href="{% static 'css/style.css'%}" rel="stylesheet">

</head>
<body>
	<div id="login-Register" class="container-fluid">
	<div class="row ">
		<div class="col-md-6 blue-gradient2 borderRad-half full-height align-items-center justify-content-center d-flex">
			<div class="leftContent">
			<img src="{% static 'image/logo-strip-white.png'%}">
			<!-- <img src="image/logo-strip-white.png"> -->
			<h3 class="mt-4">Welcome to the</h3>
			<p>Lorem Ipsum is simply dummy text of the 
			   printing and typesetting industry.</p>
			</div>
		</div>
		<div class="col-md-6 full-height align-items-center justify-content-center d-flex">
			<div class="rightContent">
				<form action="{%url 'login' %}" method="POST">
				<h1>login</h1>
				{% csrf_token %}
				<p>It is a long established fact that a <br />
				reader will be distracted</p>
					<div class="form-group">
						<label>User Name</label>
						<input type="text" class="form-control" name='username' maxlength="40" required="">
					</div>
					{%if errorMessage %}
                    <p id="p_email" style="color: red">{{errorMessage}}</p>
                    {% else %}
                    <p id="p_email"></p>
                    {% endif %}
                    {% if invalidUserPsd %}
                    <p id="p_email" style="color: red">{{invalidUserPsd}}</p>
                    {% endif %}
					<div class="form-group">
						<label>Password</label>
						<input type="password" class="form-control" name='password' maxlength="16" required="">
					</div>
					<div class="form-group">
						<label>Google reCAPTCHA</label>
					</div>
					<div class="form-group align-items-center justify-content-between d-flex login-link">
						<a href="{%url 'register'%}">New User/Register Now</a>
						<a href="#">Forgot password?</a>
					</div>
					<div class="form-group align-items-center justify-content-center d-flex mt-4">
						<input type="submit"  value="Login" class="blue-gradient loginBtn"/>
					</div>
					</div>
				</form>
				</div>
		</div>

		<div class="col-sm-6"></div>
	</div>
		
	
	</div>
	
    <!-- Bootstrap core JS -->
<script src="{% static 'js/jquery.js'%}"></script>
<script src="{% static 'js/bootstrap.bundle.js'%}"></script>
<script src="{% static 'js/bootstrap.js'%}"></script>
</body>
</html>
