{% load static %}{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lims Sign up</title>

    <!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
<link href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css'%}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap" rel="stylesheet">
<link href="{% static 'css/style.css'%}" rel="stylesheet">
</head>
<body>
	<div id="login-Register" class="container-fluid">
	<div class="row ">
		<div class="col-md-6 blue-gradient2 borderRad-half full-height align-items-center justify-content-center d-flex">
			<div class="leftContent">
			<img src="{% static 'image/logo-strip-white.png'%}">
			<!-- <img src="image/logo-strip-white.png"> -->
			<h3 class="mt-4">Welcome to the</h3>
			<p>Lorem Ipsum is simply dummy text of the 
			   printing and typesetting industry.</p>
			</div>
		</div>
		<div class="col-md-6 full-height align-items-center justify-content-center d-flex">
			<div class="rightContent">
			<form action="{%url 'register' %}" method="POST">
				<h1>Register</h1>
				{% csrf_token %}
				<div class="form-group mt-4">
						<label>Laboratory Name</label>
						<input type="text" class="form-control" name="name" maxlength="40" required=""/>
						<label id="p_name">{{ sign_form.errors.name }}</label>
					</div>

					<div class="form-group">
						<label>Username</label>
						<input type="text" class="form-control" name="username" maxlength="15" required=""/>
						{% if existMessage %}
                    	<p id="p_email" style="color: red">{{existMessage}}</p>
                    	{% endif %}

						<label id="p_name">{{ sign_form.errors.username }}</label>
					</div>
					<div class="form-group">
						<label>Email Id</label>
						<input type="email" class="form-control" name="email" maxlength="40" required=""/>
						<label id="p_name">{{ sign_form.errors.email }}</label>
					</div>
					
					<div class="row form-group">
						<div class="col-6">
							<label>Password</label>
							<input type="password" class="form-control" value="" name="currentpassword" maxlength="16" required=""/>
						</div>
						<div class="col-6">
							<label>Confirm Password</label>
							<input type="password" class="form-control" value="" name="confirmpassowrd" maxlength="16" required=""/>
							{% if errorMessage %}
                    		<p id="p_email" style="color: red">{{errorMessage}}</p>
                    		{% endif %}


						</div>
					</div>
					<!-- <div class="row form-group">
						<div class="col-7">
							<label>Enter OTP (One Time Password)</label>
							<input type="text" class="form-control">
						</div>
						<div class="col-5 login-link">
						<label>&nbsp;</label>
							<a href="javascript:void(0)" class="bold form-control-link mt-1">Resend OTP</a>
						</div>
					</div> -->
					<div class="form-group align-items-center justify-content-center d-flex mt-4">
						<input type="submit"  value="Register" class="blue-gradient loginBtn"/>
					</div>
					<div class="form-group align-items-center justify-content-center d-flex login-link">
						Have an Account? <a href="{%url 'login'%}" class="ml-1"> <strong>Login</strong></a>
					</div>
					</div>
			</form>		
				</div>
		</div>
		<div class="col-sm-6"></div>
	</div>
		
	
	</div>
	
	
    <!-- Bootstrap core JS -->
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/bootstrap.bundle.js"></script>
<script href="js/bootstrap.js" type="text/javascript"/>
</body>
</html>
{% endblock %}